@using DotNetCorePracticeApp.Model;
@model List< Employee>;  
   
@* @{
    ViewData["Title"] = "Index";

    var myEmployees = ViewData["myEmployee"] as List<Employee>;
    <h2>@ViewData["Title"]</h2>

    @if (myEmployees != null)
    {
        <table>
            <thead>
                <tr>
                    <th>EmpId</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in myEmployees)
                {
                    <tr>
                        <td>@employee.EmpId</td>
                        <td>@employee.Name</td>
                        <td>@employee.Position</td>
                        <td>@employee.Salary</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No employees found.</p>
    }
 *@

  @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h1 class="bg-primary">Daniyal</h1>

    <table>
        <thead>
            <tr>
                <th>EmpId</th>
                <th>Name</th>
                <th>Position</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmpId</td>
                    <td>@employee.Name</td>
                    <td>@employee.Position</td>
                    <td>@employee.Salary</td>
                </tr>
            }
        </tbody>
    </table>


