@using DotNetCorePracticeApp.Model;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var students = ViewData["myStudent"] as List<StudentModel>;

}

<h1>Index</h1>



<table>

    <tr>
        <th>
            RoLL no
        </th>


        <th>
            Name
        </th>

        <th>
            Stand
        </th>
    </tr>



    
        @foreach (var std in students)
        {
      <tr>
        <td>
            @std.rollNo
        </td>


        <td>
            @std.Name
        </td>

        <td>
            @std.Stand
        </td>
      </tr>      
        }
    
</table>

@* 
@ViewBag.data1

<br />
@ViewBag.data2

<br />

@ViewBag.data3

<br />

@ViewBag.viewdataname 

// viewbag sy viewdata ka access krny ka tareeqa ha upr

<br />

@{
    foreach (var item in ViewBag.data3)
    {
        <h2>@item</h2>

    }
}

<br />

@{
    foreach (var item in ViewBag.data4)
    {
        <h2>@item</h2>

    }
}
 *@


@*
  

view data html 

@ViewData["data1"];

<br /> 


@ViewData["databag"]; 
// viewbag ko view data k access krny ka tareqa 

<br />

@ViewData["data2"];
@* @{
    foreach (var item in (string[]) ViewData["data4"])
    {
        <h2>@item</h2>
        
    }
}

@{
    foreach (var item in (List<string>)ViewData["data5"])
    {
        <h2>@item</h2>

    }
} 

*@

@TempData["data3"]
<br />

@TempData["tem"]

@{

    if(TempData["temlist"] != null)
    {
        foreach (var item in (List<string>)TempData["templist"])
        {
            <h2>@item</h2>

        }
    }
    else
    {
        <h2>No data found</h2>
    }

 }

